<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <title>Your Queue</title>
</head>

<body>
    <h2>Your Queue</h2>
    <a href="/movies/new">Add a new Movie</a>
    <ul>
        <% for(let i=0; i < movies.length; i++){ %>
            <li>
                The
                <a href="/movies/<%=movies[i].id; %>">
                    <%=movies[i].name; %>
                </a> is <%=movies[i].genre; %>.
                    <% if(movies[i].hasSeen===true){ %>
                        Has been seen.
                        <% } else { %>
                            Needs to be watched.
                            <% } %>
                                <!--Update Form-->
                                <a href="/movies/<%=movies[i].id; %>/edit">Edit</a>
                                <!--Delete Form-->
                                <form action="/movies/<%=movies[i].id; %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-outline-danger" value="DELETE">
                                </form>
            </li>
            <% } %>
    </ul>
</body>

</html>